# Remote Media Configuration
netgen_remote_media:
    provider: cloudinary # available options: cloudinary
    account_name: cloudname
    account_key: cloudinary_key
    account_secret: cloudinary_secret_key

    # settings for eZ Online Editor:
    ezoe:
        class_list:
            - 'pull-left|Left adjusted'
            - 'pull-right|Right adjusted'

    # If set to true, resources that are not connected to any eZ content objects
    # will be removed from the remote provider
    remove_unused: false
