<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Netgen\RemoteMedia\Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>ezpublish_legacy</directory>
                <directory>Command</directory>
                <directory>RemoteMedia/Provider/Cloudinary/ContentBrowser</directory>
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>vendor</directory>
                <directory>update</directory>
                <directory>extension</directory>
                <file>RemoteMedia/Provider/Cloudinary/Gateway/CachedGateway.php</file>
                <file>NetgenRemoteMediaBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
