<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Netgen\RemoteMedia\Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">bundle</directory>
            <exclude>
                <directory>bundle/Command</directory>
                <directory>bundle/Resources</directory>
                <directory>bundle/vendor</directory>
                <directory>bundle/update</directory>
                <directory>bundle/extension</directory>
                <file>bundle/Core/FieldType/RemoteMedia/SearchField.php</file>
                <file>bundle/RemoteMedia/Provider/Cloudinary/Gateway/CachedGateway.php</file>
                <file>bundle/RemoteMedia/Helper.php</file>
                <file>bundle/NetgenRemoteMediaBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" />
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
