#remotemedia-scaler .header, #remotemedia-browser .header {
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  position: relative; }

.eze .btn.load-more {
  padding: 10px; }

.remotemedia-thumbs {
  clear: both;
  -webkit-transform: translate3d(0, 0, 0); }
  .remotemedia-thumbs .item {
    float: left;
    cursor: pointer; }
    .remotemedia-thumbs .item .pick {
      text-align: center;
      width: 170px;
      height: 190px;
      display: table-cell;
      padding: 10px 10px 0 10px;
      position: relative; }
      .remotemedia-thumbs .item .pick img {
        border: 1px solid white;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease; }
      .remotemedia-thumbs .item .pick .meta {
        text-overflow: ellipsis;
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 5px; }
        .remotemedia-thumbs .item .pick .meta .details {
          font-size: 11px; }
      .remotemedia-thumbs .item .pick:hover img {
        opacity: 1; }
      .remotemedia-thumbs .item .pick .share {
        background: #44b6eb;
        font-size: 11px;
        margin: 0 0 0 5px;
        border-radius: 4px;
        padding: 2px 4px;
        color: white; }

.remotemedia-crop .nav-pills.inverted li {
  margin-right: 10px;
  cursor: pointer; }
  .remotemedia-crop .nav-pills.inverted li a {
    font: bold 12px / 12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    padding: 5px 15px 3px 5px;
    border-style: dotted; }
    .remotemedia-crop .nav-pills.inverted li a img {
      margin: -5px 0 0 0; }
  .remotemedia-crop .nav-pills.inverted li small {
    font: normal 10px / 10px "HelveticaNeue", Helvetica, Arial, sans-serif; }
  .remotemedia-crop .nav-pills.inverted li.cropped a, .remotemedia-crop .nav-pills.inverted li.cropped a:hover {
    background: white;
    color: black;
    border-color: white; }
  .remotemedia-crop .nav-pills.inverted li.cropped .black, .remotemedia-crop .nav-pills.inverted li.uncropped .black, .remotemedia-crop .nav-pills.inverted li.active a .white {
    display: none; }
  .remotemedia-crop .nav-pills.inverted li.active a .black {
    display: inline; }
  .remotemedia-crop .nav-pills.inverted li.active a {
    color: #000;
    background-color: #FB0;
    background-image: -moz-linear-gradient(center top, #FB0, #FF8D00);
    border-color: transparent; }

.remotemedia-crop-container .image-wrap {
  position: relative; }
  .remotemedia-crop-container .image-wrap p {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 25% 0 0 0;
    margin: 0; }
  .remotemedia-crop-container .image-wrap img {
    max-height: none;
    max-width: none;
    border: 1px solid white; }

/* Browse */
/* Scale */
#remotemedia-scaler .header {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none; }
  #remotemedia-scaler .header ul li {
    float: left;
    margin: 0 8px 10px 0; }
    #remotemedia-scaler .header ul li .overlay {
      display: none;
      -webkit-transition: opacity 0.1s ease;
      -moz-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
      position: absolute;
      opacity: 0;
      z-index: 700;
      border: 1px solid #fff60b; }
    #remotemedia-scaler .header ul li:hover .overlay {
      display: block;
      opacity: 1; }
    #remotemedia-scaler .header ul li.active .overlay {
      border-color: #000; }
    #remotemedia-scaler .header ul li.active:hover .overlay {
      display: none; }
    #remotemedia-scaler .header ul li a {
      display: block;
      float: left;
      background: #fff;
      border-radius: 4px;
      height: 30px;
      padding: 3px 25px 0 3px;
      font: normal 11px/11px Helvetica, Arial, sans-serif;
      color: #000;
      border: 1px solid #fff; }
      #remotemedia-scaler .header ul li a h2 {
        float: left;
        margin: 0;
        font: bold 12px/14px Helvetica, Arial, sans-serif; }
      #remotemedia-scaler .header ul li a span {
        font: normal 10px/10px Helvetica, Arial, sans-serif; }
      #remotemedia-scaler .header ul li a p {
        margin-right: 6px;
        border: 1px solid #000;
        border-radius: 2px;
        float: left; }
    #remotemedia-scaler .header ul li.uncropped a {
      background: transparent;
      border: 1px dotted #ccc;
      color: #fff; }
      #remotemedia-scaler .header ul li.uncropped a h2 {
        color: #fff; }
      #remotemedia-scaler .header ul li.uncropped a p {
        border: 1px dotted #ccc; }
      #remotemedia-scaler .header ul li.uncropped a:hover {
        border-color: #fff;
        color: #fff; }
        #remotemedia-scaler .header ul li.uncropped a:hover p {
          border-color: #fff; }
    #remotemedia-scaler .header ul li.cropped a:hover {
      background: #fff60b;
      border-color: transparent; }
    #remotemedia-scaler .header ul li.active a, #remotemedia-scaler .header ul li.active a:hover {
      background-color: #ff8d00;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbb00), to(#ff8d00));
      background-image: -webkit-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: -moz-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: -ms-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: -o-linear-gradient(top, #ffbb00, #ff8d00);
      background-image: linear-gradient(top, #ffbb00, #ff8d00);
      color: #000;
      border-color: transparent; }
      #remotemedia-scaler .header ul li.active a h2, #remotemedia-scaler .header ul li.active a:hover h2 {
        color: #000; }
      #remotemedia-scaler .header ul li.active a p, #remotemedia-scaler .header ul li.active a:hover p {
        border-color: #000; }
#remotemedia-scaler .body {
  clear: both;
  padding: 0 !important;
  position: static !important; }
#remotemedia-scaler .jcrop-handle {
  font-size: 1px;
  width: 16px !important;
  height: 16px !important;
  border: 1px #eee solid;
  background-color: #fff;
  border-radius: 4px; }
#remotemedia-scaler .jcrop-holder {
  border: 1px solid #fff;
  overflow: hidden; }

.o2k7Skin span.mce_remotemedia {
  background: url("Pictures-alt-2b.png") no-repeat scroll 2px 2px transparent; }

.kp .attribute.remotemedia .image-container .upload-container form {
  top: 0px !important;
  left: 0px !important; }

/*# sourceMappingURL=ngremotemedia.css.map */
