{#{if not( is_set( $value ) ) }
{def $value = $attribute.content}
{/if}
{if not( is_set( $media ) ) }
{def $media = ngremotemedia($attribute, '300x200', true)}
{/if}
#}

{% if media %}
<div class="thumbnail">
    <img src="{{ media.url }}" />

    <button type="button" class="close remove"
            name="CustomActionButton[{{ attribute.attribute('id') }}_delete_media]"
            value="{{ 'ngremotemedia.edit.remove'|trans }}">×</button>

    {% include "NetgenRemoteMediaBundle:user_interface/edit:action_button.html.twig" %}
</div>
{% endif %}
