{% trans_default_domain "ezexceed" %}

{% if media %}
<div class="thumbnail">
    <img src="{{ media.url }}" />

    <button type="button" class="close remove"
            name="CustomActionButton[{{ attribute.attribute('id') }}_delete_media]"
            value="{{ 'ngremotemedia.edit.remove'|trans }}">×</button>

    {% include "NetgenRemoteMediaBundle:ezexceed/edit:action_button.html.twig" %}
</div>
{% endif %}
