@font-face {
  font-family: 'fa-ngrm';
  src: url('../font/fa-ngrm.eot?75641014');
  src: url('../font/fa-ngrm.eot?75641014#iefix') format('embedded-opentype'),
       url('../font/fa-ngrm.woff2?75641014') format('woff2'),
       url('../font/fa-ngrm.woff?75641014') format('woff'),
       url('../font/fa-ngrm.ttf?75641014') format('truetype'),
       url('../font/fa-ngrm.svg?75641014#fa-ngrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

 [class^="ngrm-icon-"]:before, [class*=" ngrm-icon-"]:before {
  font-family: "fa-ngrm";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ngrm-icon-cancel:before { content: '\e800'; } /* '' */
.ngrm-icon-floppy:before { content: '\e801'; } /* '' */
.ngrm-icon-ok:before { content: '\e802'; } /* '' */
.ngrm-icon-ccw:before { content: '\e803'; } /* '' */
.ngrm-icon-folder:before { content: '\e804'; } /* '' */
.ngrm-icon-upload:before { content: '\e805'; } /* '' */
.ngrm-icon-play:before { content: '\e811'; } /* '' */
.ngrm-icon-trash:before { content: '\f1f8'; } /* '' */
.ngrm-icon-file-archive-o:before { content: "\f1c6"; }
