<div class="customattributes"></div>

<section class="ngremotemedia-crop">
    <ul class="nav nav-pills inverted"></ul>
</section>

<div class="ngremotemedia-crop-container">
    <div class="image-wrap"></div>
</div>


<div class="ngremote-actions">
    <button class="btn btn-default js-close">{{translate "Cancel"}}</button>
    {{#if singleVersion}}
        <button class="btn btn-primary js-generate">{{translate "Generate"}}</button>
    {{else}}
        <button class="btn btn-primary js-save">{{translate "Save all"}}</button>
    {{/if}}
</div>
