<a
{{#if toSmall}}
    title="{{translate "Image is to small for this version"}}"
{{/if}}
>
    {{#if toSmall}}
    <i class="ngri-warning"></i>
    {{/if}}
    {{name}}<br />
    <small>{{width}}x{{height}}</small>
</a>
<div class="overlay"></div>
