<a
{{#if tooSmall}}
    title="{{translate "Image is to small for this version"}}"
{{/if}}
>
    {{#if tooSmall}}
    <i class="ngri-warning"></i>
    {{/if}}
    {{name}}<br />
    <small>{{possibleWidth}}x{{possibleHeight}}</small>
</a>
