<div class="customattributes"></div>

<section class="ngremotemedia-crop">
    <ul class="nav nav-pills inverted"></ul>
</section>

<div class="ngremotemedia-crop-container">
    <div class="image-wrap">
        <img src="{{media}}" />
    </div>
</div>
