{% block ezplatform_fieldtype_ngremotemedia_widget %}
    {% set field = form.parent.vars.value.field %}
    {% set field_value = form.parent.vars.value.value %}

    {% set content = app.request.get('view').content %}
    {% set contentId = content.id %}
    {% set version = content.versionInfo.versionNo %}
    {% set type = field_value.metaData.resource_type|default('image') %}

    {% set croppableVariations = ngrm_available_variations(content, true)  %}
    {% set availableVariations = croppableVariations|scaling_format|json_encode %}

    {% include '@NetgenRemoteMedia/ezadminui/js_templates.html.twig' with {
        'paths': {
            'browse': path('netgen_remote_media_ezadmin_browse'),
            'folders': path('netgen_remote_media_ezadmin_folders')
        },
        'available_variations': availableVariations
    } %}

    <div class="ngremotemedia-type">
        {% include '@NetgenRemoteMedia/ezadminui/field/edit/preview.html.twig' %}
        {% include '@NetgenRemoteMedia/ezadminui/field/edit/interactions.html.twig' %}

        {# @todo: make it hidden #}
        {{ form_row(form.image_variations, { 'attr': {'class' : 'media-id', 'v-model': 'stringifiedVariations'} }) }}
        <crop-modal v-if="cropModalOpen" @change="handleVariationCropChange" @close="handleCropModalClose" :selected-image="selectedImage" :available-variations="config.availableVariations"></crop-modal>
        <media-modal :folders="folders" :selected-media-id="selectedImage.id" v-if="mediaModalOpen" @close="handleMediaModalClose" @media-selected="handleMediaSelected" :paths="config.paths"/>
        <upload-modal :folders="folders" v-if="uploadModalOpen" @close="handleUploadModalClose" @save="handleUploadModalSave" :loading="uploadModalLoading" :name="selectedImage.name" />
    </div>
{% endblock %}
