{% block ezplatform_fieldtype_ngremotemedia_widget %}
    {% set field = form.parent.vars.value.field %}
    {% set field_value = form.parent.vars.value.value %}

    {% set content = app.request.get('view').location.content %}
    {% set contentId = content.id %}
    {% set version = content.versionInfo.versionNo %}
    {% set type = field_value.metaData.resource_type|default('image') %}

    {% include '@NetgenRemoteMedia/ezadminui/js_templates.html.twig' %}

    {% set croppableVariations = [] %}
    {% set availableVariations = [] %}

    {% if content is not null %}
        {% set croppableVariations = ngrm_available_variations(content, true)  %}
        {% set availableVariations = croppableVariations|scaling_format|json_encode %}
    {% endif %}

    <div class="ngremotemedia-type">
        {% include '@NetgenRemoteMedia/ezadminui/field/edit/preview.html.twig' %}

        <div class="tagger">
            <div class="ngremotemedia-alttext">
                {{ form_row(form.alt_text, { 'attr': {'v-model': 'selectedImage.alternateText'} }) }}
            </div>

            <div id="ngremotemedia-tags-{{ field.id }}">
                <v-select :options="allTags" v-model="selectedImage.tags" multiple taggable @input="handleTagsInput"></v-select>
                {{ form_row(form.tags, { 'attr': {'class' : 'media-tags', 'v-model': 'selectedImage.tags', "hidden": "hidden"} }) }}
            </div>
        </div>

        {% include '@NetgenRemoteMedia/ezadminui/field/edit/interactions.html.twig' %}
        <!-- TODO render whis hidden field through symfony forms -->
        <input type="text" name="image_variations" v-model="stringifiedVariations" class="media-id"/>
        <crop-modal v-if="cropModalOpen" @change="handleVariationCropChange" @close="handleCropModalClose" :selected-image="selectedImage" :available-variations="{{ availableVariations }}"></crop-modal>
        <media-modal :folders="folders" :selected-media-id="selectedImage.id" v-if="mediaModalOpen" @close="handleMediaModalClose" @media-selected="handleMediaSelected"/>
    </div>
{% endblock %}
