{% trans_default_domain 'ngremotemedia' %}

<div class="ngremotemedia-image" id="ngremotemedia-preview-{{ field.id }}" v-init:selected-image="RemoteMediaSelectedImage">
    {% if field_value.resourceId %}
        <div class="image-wrap">
            <img v-if="selectedImage.type==='image'" :src="selectedImage.url"/>
            <i v-else="selectedImage.type!=='image'" :class="nonImagePreviewClass" class="custom-icon big"></i>
        </div>

        <div class="image-meta">
            {% verbatim %}
                <h3 class="title">{{ selectedImage.name }}</h3>
            {% endverbatim %}

            {% if field_value.size %}
                <p>{{ 'ngremotemedia.field.edit.size'|trans }}:
                    {% verbatim %}
                        {{selectedImage.size}}
                    {% endverbatim %}
                </p>
            {% endif %}
        </div>
    {% endif %}
</div>
