{% if location and location.remoteResource %}
    {% set classes = "ez-ngremotemedia remote-media-inline remote-{{ location.remoteResource.mediaType }}" %}
    {% if css_class %}
        {% set classes = classes ~ " {{ css_class }}" %}
    {% endif %}
    <div class="{{ classes }}">
        {{ ngrm_remote_resource_variation_html_tag(location, variation_group, variation_name)|raw }}
    </div>
{% else %}
    <div>Unset</div>
{% endif %}
